.grid-navbar
{
    grid-area: navbar;
}

.grid-sidebar
{
    display: flex;
    margin: 0.1rem;
    grid-area: sidebar;
    height: 100%;
    width: 100%;
}

.grid-content
{
    grid-area: gcontent;
}

.App
{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 8fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar gcontent";
        
}

.navbar
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: fit-content;
}

.navbar a
{
    color: pink;
    text-decoration: none;
}


.sidebar
{
    display: flex;
    border-style: groove;
    border-color: blue;
    border-radius: 2%;
    background-color: ghostwhite;
}

.sidebar a
{
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar a.active
{
    background-color: green;
    font-weight: bold;
    display: flex;
    padding: .25rem;
    align-items: center;
}

.settings-navdropdown a.nav-item
{
    color:black;
}

.drop-flag-icon
{
    height: 30px;
    width: 30px;
    padding-right: 8px;
}